EXPO_OWNER=livadev
EAS_PROJECT_ID=614e9950-dfbb-4feb-94fd-a20b87984188
EXPO_UPDATES_URL=
EXPO_PUBLIC_APP_ENV=development
EXPO_PUBLIC_API_BASE_URL=
EXPO_PUBLIC_PLAID_BROKER_BASE_URL=
EXPO_PUBLIC_GOOGLE_CLIENT_ID=
EXPO_PUBLIC_GOOGLE_CLIENT_ID_IOS=
EXPO_PUBLIC_GOOGLE_CLIENT_ID_ANDROID=
EXPO_PUBLIC_MICROSOFT_CLIENT_ID=
EXPO_PUBLIC_REVENUECAT_API_KEY=
